{% extends 'base.html' %} 
   
   
{% block title %}Book List{% endblock %}
   
   
   {% block content %}   
   
   
   
   
        <h1>Book List</h1>
        <form method="POST" class="form-box">

          {% if books %}  
           <table border="1">
    <tr>
        <th>Bookname</th>
        <th>Author</th>
        <th>Category</th>
        <th>Price</th>
        <th>Photo</th>
        <th>  </th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{book.bookname}}</td>
        <td>{{book.author}}</td>
        <td>{{book.category}}</td>
        <td>{{book.price}}</td>
        <td>

        {% if book.photo %}
           <img src="{{ book.photo.url }}" width="80" height="80">
        {% else %}
            No Image
        {% endif %}  
        </td>  
        
        <td>
         <a class="btn-delete" href="{%  url 'delete_book' book.id %}">Delete</a>
         <a class="btn-update" href="{% url 'update_book' book.id %}">Edit</a>
        </td>
    </tr>
    {% endfor %}

     <a class="btn-add" href="{% url 'add_book'  %}">Add book</a>
    </td>
    </table>
    
 {% else %}
  <p>no books available</p>
 {% endif %}

    
</form>
    
{% endblock %}